@import ./_variable.sass

.userList
    display: flex
    flex-wrap: wrap
    justify-content: center

    .userCard
        border: 1px solid $font-black-color
        width: 20%
        margin: 2%
        .upperDiv
            position: relative
            &:hover
                .toolTipText
                    visibility: visible
            a
                text-decoration: none
                color: $font-black-color
                &:visited
                    color: $font-black-color
                img
                    width: 100%
                .userDetail
                    text-align: left
                    height: 125px
                    padding: 0 5%
            .toolTipText
                width: 120px
                background-color: black
                color: #fff
                text-align: center
                border-radius: 6px
                padding: 5px 0
                position: absolute
                z-index: 1
                right: -50px
                top: 100px
                visibility: hidden

        .deleteBtn
            width: 100%
            transition: 0.3s
            background: $soft-red
            border: none
            height: 35px
            &:hover
                color: $font-white-color
                transition: 0.3s

.inputContainer
    input
        width: 40%
        height: 25px
    .addBtn
        height: 30px
        background: $soft-green
        border: none
        width: 10%
        border-radius: 2px
        margin-left: 1%
        &:hover
            color: $font-white-color
            transition: 0.3s

.filterContainer
    margin-top: 2%
    display: flex
    justify-content: center
    flex-direction: row
    @media (max-width: 768px)
        flex-direction: column
        .filterContent
            width: 99%
            margin-top: 2%
    button
        height: 30px
        background: $soft-blue
        border-radius: 2px
        border: none
        margin-left: 1%
        &:hover
            color: $font-white-color
            transition: 0.3s

.cardListError
    margin-top: 3%
